*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    
    background: #0a0a0a;
    color: #fff;
}
.sessao{
    padding: 100px 0;
    padding-left: 50px;
    padding-right: 23px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-left: 50px;    
    
}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
    
}


header ul li{
    cursor: pointer;
    position: relative;
    padding: 5px 0;

}

header ul li a{
    color: #bbb;
    text-decoration: none;
    font-weight: 500;
}

header ul li::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: #4d7cfe;
    transition: width 0.2s ease;
}

header ul li:hover::after{
    width: 100%;
}

.principal{
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-height: 80vh;
}

.principal h1{
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 20px;
    letter-spacing: -2px;

}

.principal h1 span{
    color: #4d7cfe;
}
.principal p{
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 500px;
    color: #bbb;;
}

.botao{
    display: inline-block;
    padding: 15px 30px;
    background: #4d7cfe;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: transform 0.55s ease, box-shadow 0.45s ease;
}

.img-projecto{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}



.titulo-sessao{
    font-size: 42px;
    margin-bottom: 60px;
    position: relative;
}

.titulo-sessao::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100px;
    height: 4px;
    background: #4d7cfe;
}


.grade-projectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card-projecto{
    background-color: #161616;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.45s ease, box-shadow 0.45s ease;
}

.card-projecto:hover {
  transform: translateY(-8px) scale(1.02);
}

.info-projecto{
    padding: 20px;   
}


.info-projecto h3{
    margin-bottom: 10px;
}

.info-projecto p{
    color: #bbb;
    margin-bottom: 15px;
}

.info-projecto a{
    color: #4d7cfe;
}

.sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}

.img-sobre{
    height: 320px;
    position: relative;
    top: 17%;
}

.conteudo-sobre h2{
    margin-bottom: 30px;
}

.conteudo-sobre p{
    color: #bbb;
    margin-bottom: 20px;
}

.habilidades{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tag-habilidade{
    background-color: rgba(77, 124, 254, 0.2);
    color: #4d7cfe;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    transition: transform 0.45s ease, box-shadow 0.45s ease;
}

.tag-habilidade:hover{
    transform: translateY(-8px) scale(1.02);
    cursor: pointer;
}

.botao-contactos a{
    display: inline-block;
    padding: 15px 30px;
    color: #4d7cfe;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-weight: bold;
    transition: transform 0.45s ease, box-shadow 0.45s ease;
}

.botao-contactos a:hover{
    background: #4d7cfe;
    color: #fff;
    transform: translateY(-8px) scale(1.02);
}

.botao-contactos a i{
    font-size: 35px;
}


footer{
    text-align: center;
    padding: 20px 1%;
    background: #161616;
    color: #bbb;
}

.botao:hover{
    background: #3b5edb;
    cursor: pointer;
    transform: translateY(-3px);
}

.cursor{
    pointer-events: none;
    position: fixed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(77, 124, 254, 0.8);
    z-index: 99;
    transform: translate(-50%, -50%);
}


@media (max-width: 768px){
    
    header{
        padding: 20px;
    }

    ul{
        gap: 20px;
        justify-content: center;
    }

    .sessao{
        padding: 60px 20px;
    }

    .sobre{
        grid-template-columns: 1fr;
    }

    .img-sobre{
        margin: 0 auto 20px;
        top: 0;
    }

    footer{
        padding: 20px 10px;
        text-align: center;
    }

.botao-contactos{
    display: flex;
    justify-content: center;
    gap: 20px;
}


    /*
    
    .principal{
        flex-direction: column;
        text-align: center;
    }

    .principal h1{
        font-size: 50px;
    }

    .sobre{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .img-sobre{
        margin: 0 auto 20px;
        top: 0;
    }*/
}